<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="/">
            <img src="../../../assets/img/logo1-default.png" alt="STO CRM"/>
        </a>
        <!-- End Logo -->
        <!-- Topbar -->
        <app-topbar></app-topbar>
        <!-- End Topbar -->
        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->
    <app-navbar></app-navbar>
</div>
<!--=== End Header ===-->