<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
        <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="active">
                <a href="javascript:void(0);" [routerLink]="['/home']"><span [translate]="'HOME'"></span></a>
            </li>
            <!-- FEEDS -->
            <li class="">
                <a href="javascript:void(0);" [routerLink]="['/feeds']"><span [translate]="'FEEDS'"></span></a>
            </li>
            <!-- LEADS -->
            <li class="">
                <a href="javascript:void(0);" [routerLink]="['/leads']"><span [translate]="'LEADS'"></span></a>
            </li>
            <!-- ACCOUNTS -->
            <li class="">
                <a href="javascript:void(0);" [routerLink]="['/accounts']"><span [translate]="'ACCOUNTS'"></span></a>
            </li>
            <!-- CONTACTS -->
            <li class="">
                <a href="javascript:void(0);" [routerLink]="['/contacts']"><span [translate]="'CONTACTS'"></span></a>
            </li>
            <!-- DEALS -->
            <li class="">
                <a href="javascript:void(0);" [routerLink]="['/deals']"><span [translate]="'DEALS'"></span></a>
            </li>
            <!-- ACTIVITIES -->
            <li class="">
                <a href="javascript:void(0);" [routerLink]="['/activities']"><span
                        [translate]="'ACTIVITIES'"></span></a>
            </li>
            <!-- REPORTS -->
            <li class="">
                <a href="javascript:void(0);" [routerLink]="['/reports']"><span [translate]="'REPORTS'"></span></a>
            </li>
            <!-- More -->
            <!--<li class="">-->
            <!--<a href="#more"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>-->
            <!--</li>-->
        </ul>
    </div><!--/end container-->
</div><!--/navbar-collapse-->