<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
        <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="active">
                <a href="javascript:void(0);">
                    <div [translate]="'HOME'"></div>
                </a>
            </li>
            <!-- FEEDS -->
            <li class="">
                <a href="javascript:void(0);">
                    <div [translate]="'FEEDS'"></div>
                </a>
            </li>
            <!-- LEADS -->
            <li class="">
                <a href="javascript:void(0);">
                    <div [translate]="'LEADS'"></div>
                </a>
            </li>
            <!-- ACCOUNTS -->
            <li class="">
                <a href="javascript:void(0);">
                    <div [translate]="'ACCOUNTS'"></div>
                </a>
            </li>
            <!-- CONTACTS -->
            <li class="">
                <a href="javascript:void(0);">
                    <div [translate]="'CONTACTS'"></div>
                </a>
            </li>
            <!-- DEALS -->
            <li class="">
                <a href="javascript:void(0);">
                    <div [translate]="'DEALS'"></div>
                </a>
            </li>
            <!-- ACTIVITIES -->
            <li class="">
                <a href="javascript:void(0);">
                    <div [translate]="'ACTIVITIES'"></div>
                </a>
            </li>
            <!-- REPORTS -->
            <li class="">
                <a href="javascript:void(0);">
                    <div [translate]="'REPORTS'"></div>
                </a>
            </li>
        </ul>
    </div><!--/end container-->
</div><!--/navbar-collapse-->