<div class="container">
    <p>{{ 'USERS' | translate }} :</p>
    <table class="table">
        <thead>
        <tr>
            <th>الاسم</th>
            <th>{{ 'EMAIL' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.first_name }} {{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>
                <button class="btn-u btn-u-xs btn-u-default" type="button"(click)="deleteUser(user.user_id)"><i class="fa fa-edit"></i></button>
                <button class="btn-u btn-u-xs btn-u-red" type="button"(click)="deleteUser(user.user_id)"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

